html {
    font-size: 30px; 
    font-family:
     "Julius Sans One", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

body{
    background-color: chocolate; 
}

html, body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

header img{
    width: 100%;
    height: auto;
}

h1{
    margin: 25px;
}

main h2{
   margin: 25px; 
}

main p{
    margin: 25px;
}

main img{
    max-width: 1000px;
    height: auto;
    margin: auto;
}